@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
#homee {
  background-color: #C7686E;
  height: 150px;
}

#home2 {
  background-color: #C7686E;
}

.logo h5 {
  margin-left: 60px;
  font-family: 'Poppins medium', sans-serif;
  color: white;
  font-size: 35px;
}

.navbar ul li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  margin-top: -30px;
  margin-left: 45px;
  list-style-type: none;
}

.navbar a {
  font-family: 'Poppins medium', sans-serif;
  text-decoration: none;
  color: white;
}

.produk img {
  width: 600px;
  margin-top: -50px;
  margin-bottom: 30px;
}

.tulisan h5 {
  color: white;
  margin-left: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
}

.tulisan h6 {
  color: white;
  margin-left: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 62px;
  text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
}

.tmbl {
  width: 200px;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 70px;
  padding: 10px 20px 10px 30px;
  background-color: white;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
}

.tmbl a {
  color: #C7686E;
}

.service h3 {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.tcategory h5 {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 28px;
}

.tcategory h6 {
  color: #C7686E;
  font-family: 'Poppins medium', sans-serif;
  font-size: 18px;
}

.kategoricard .card {
  height: 300px;
  width: 250px;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 1px solid #E5E5E5;
}

.card img {
  width: 70px;
  margin: auto;
}

.gambarkiri {
  margin-left: 50px;
}

.gambarkanan {
  margin-right: 80px;
}

.informasi ul li {
  margin-left: 140px;
  margin-top: 20px;
}

.informasi a {
  text-decoration: none;
  color: #5A5A5A;
}

.login .card {
  height: 500px;
  width: 350px;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 1px solid #E5E5E5;
  margin-top: 30px;
}

.login .card h5 {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 30px;
  margin-top: 50px;
}

.login .card .formlogin {
  margin-top: 40px;
}

.login .card .label {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 100px;
}

.login .card .blogin {
  background-color: #C7686E;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
}

.login .card .input {
  border-radius: 20px;
  width: 200px;
}

.register .card {
  height: 560px;
  width: 400px;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 1px solid #E5E5E5;
}

.register .card h5 {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

.register .card .formlogin {
  margin-top: 20px;
}

.register .card .label {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 100px;
}

.register .card .blogin {
  background-color: #C7686E;
  margin-top: 30px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
}

.register .card .input {
  border-radius: 20px;
  width: 280px;
}

.forgot .card {
  height: 450px;
  width: 350px;
  -webkit-box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
          box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  border: 1px solid #E5E5E5;
  margin-top: 50px;
}

.forgot .card h5 {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 30px;
  margin-top: 50px;
}

.forgot .card .formlogin {
  margin-top: 30px;
}

.forgot .card .label {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 100px;
}

.forgot .card .bforgot {
  background-color: #C7686E;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
}

.forgot .card .input {
  border-radius: 20px;
  width: 250px;
}

.akun {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 18px;
}

.lupa {
  color: #5A5A5A;
  font-family: 'Poppins medium', sans-serif;
  font-size: 12px;
  margin-right: 80px;
}
/*# sourceMappingURL=main.css.map */